# Зависимости
/node_modules
/.pnp
.pnp.js

# Сборка
/build
/dist

# Тесты и покрытие
/coverage
/.nyc_output

# Файлы окружения
.env
.env.local
.env.development
.env.test

# Логи и временные файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Редакторы и IDE
/.idea
/.vscode
*.swp
*.swo

# Система контроля версий
.git
.gitignore

# Другое
README.md
LICENSE
*.md
*.log
/uploads
/db_backups 